@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

:root {
  --blue: #468bd0e3;
  --navy-blue: #2f85c7ef;
  --sky-blue: #58b7e0f1;
  --dark-blue: rgba(123, 188, 223, 0.796);
}

body {
  background: var(--blue);
  background: linear-gradient(-90deg, var(--blue) 0%, var(--dark-blue) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    var(--blue) 0%,
    var(--dark-blue) 100%
  );
}

h1 {
  color: #fff;
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  font-weight: 300;
}

h2 {
  font-size: 20px;
}

a:-webkit-any-link {
  color: #fff;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: rgba(92, 92, 92, 0.108);
  padding: 5px 15px;
}

nav .logo .back {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 10px 0;
  cursor: pointer;
}

nav .logo .back .backArrow {
  font-size: 26px;
}

nav .logo #logo {
  width: 45px;
  height: 45px;
}

nav .link {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 5%;
  gap: 20px;
  animation: 1.5s 1 slidein;
}

nav .link.close {
  display: none;
}

nav .link a {
  color: #fff;
  text-decoration: underline;
}

@keyframes slidein {
  from {
    left: 60%;
  }

  to {
    left: 5%;
  }
}

.hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.hamburger span {
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}

.hamburger span:nth-child(1) {
  top: 0;
  left: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
  left: 0;
  opacity: 1;
}

.hamburger span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px;
}

form {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}

form input {
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}

form input::placeholder {
  color: #fff;
}

form button {
  width: 80px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

form button:hover, form button:focus {
  cursor: pointer;
  background-color: rgba(92, 92, 92, 0.108);
}

section {
  display: grid;
  grid-template-columns: auto auto;
}

section a:-webkit-any-link:nth-child(4n+2),
section a:-webkit-any-link:nth-child(4n+3) {
  background-color: var(--navy-blue);
}

section .city {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 20px 0;
}

section .city .city-img {
  width: 30%;
}

section .city img {
  width: 100%;
  height: 100%;
}

section .city .city-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

section .city .city-info .coordinate {
  font-size: 12px;
  margin-top: 2px;
}

.filteredCity {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  padding: 30px 0;
  background-color: var(--navy-blue);
}

.filteredCity .city-img {
  width: 30%;
}

.filteredCity img {
  width: 100%;
  height: 100%;
}

.filteredCity .city-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.filteredCity .city-info .coordinate {
  font-size: 13px;
  margin-top: 2px;
}

.error-message {
  text-align: center;
  text-transform: capitalize;
  width: 100vw;
  height: 100vh;
  color: #ef4040;
  font-size: 40px;
  font-weight: 300;
  margin-top: 30px;
}

/* detail */
.loading {
  height: 100vh;
}

.detail-container {
  position: relative;
}

.cloud-img {
  position: absolute;
  width: 100vw;
  z-index: -1;
  top: -17%;
  animation: moving 7s 0s infinite ease-in-out;
}

.cloud-img img {
  filter: contrast(150%) brightness(1.2);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@keyframes moving {
  0% {
    transform: translate(-100%,0);
  }
  50% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(100%,0);
  }
}

.detail {
  color: #fff;
  width: 90%;
  margin: 10px auto;
}

.detail h1 {
  margin-top: 140px;
}

.detail .temp {
  text-align: center;
  font-size: 65px;
  font-weight: 300;
  transform: translate(10px, -6px);
}

.detail .description {
  text-align: center;
  font-size: 18px;
  text-transform: capitalize;
  transform: translateY(-10px);
}

.detail .max-min {
  display: flex;
  justify-content: center;
  gap: 7px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 40px;
}

.detail div {
  margin: 15px 0;
  padding: 10px;
  border-radius: 15px;
  background-color: #2f85c7ef;
}

.detail div h2 {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--sky-blue);
  margin-bottom: 10px;
}

.detail div h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.9px;
  margin: 3px 0;
  background-color: var(--sky-blue);
}

.detail div p {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 14px;
}
