* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #468bd0e3;
  --sky-blue: #58b7e0f1;
  --dark-blue: rgba(123, 188, 223, 0.796);
}

body {
  background: var(--blue);
  background: linear-gradient(-90deg, var(--blue) 0%, var(--dark-blue) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    var(--blue) 0%,
    var(--dark-blue) 100%
  );
}

h1 {
  color: #fff;
  text-align: center;
  margin: 20px 0;
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: rgba(92, 92, 92, 0.108);
  padding: 5px 15px;
}

nav .logo .back {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 10px 0;
  cursor: pointer;
}

nav .logo .back .backArrow {
  font-size: 26px;
}

nav .logo #logo {
  width: 45px;
  height: 45px;
}

nav .link {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
  animation: 2s 1 slidein;
}

nav .link.close {
  display: none;
}

nav .link a {
  color: #fff;
  text-decoration: underline;
}

@keyframes slidein {
  from {
    left: 70%;
  }

  to {
    left: 50%;
  }
}

.hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.hamburger span {
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}

.hamburger span:nth-child(1) {
  top: 0;
  left: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
  left: 0;
  opacity: 1;
}

.hamburger span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px;
}

form {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}

form input {
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}

form input::placeholder {
  color: #fff;
}

form button {
  width: 80px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

form button:hover, form button:focus {
  cursor: pointer;
  background-color: rgba(92, 92, 92, 0.108);
}

section {
  display: grid;
  grid-template-columns: auto auto;
}

section .city {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

section a:-webkit-any-link {
  text-decoration: none;
}

section a:-webkit-any-link:nth-child(4n+2),
section a:-webkit-any-link:nth-child(4n+3) {
  background-color: var(--sky-blue);
}

nav .year a:-webkit-any-link {
  color: #fff;
}

section .city {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 20px 0;
}

section .city .city-img {
  width: 30%;
}

section .city img {
  width: 100%;
  height: 100%;
}

section .city .city-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

section .city .city-info .coordinate {
  font-size: 13px;
  margin-top: 2px;
}

/* detail */
.detail {
  width: 97%;
  margin: 10px auto;
}

.detail div {
  margin: 10px 0;
  padding: 10px;
}

.detail div h2 {
  font-size: 17px;
}

.detail div p {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 15px;
}

.detail .coordinates,
.base-station,
.wind {
  background-color: rgba(0, 0, 0, 0.076);
}
